$if(verbose)$<!-- View-ACE.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->
<!-- Requires Ampersand statements: 
    CONCEPT <PickSomething> ""
    REPRESENT <PickSomething> TYPE BIGALPHANUMERIC
    VIEW <PickSomething> : <PickSomething> DEFAULT HTML TEMPLATE "View-ACE.html" ENDVIEW
    
    Requires Javascript additions:
    * ace.js (https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.4/ace.js)
    * ui-ace.js (https://github.com/angular-ui/ui-ace)
    * script to add ui-ace as dependency to Angular app: 
        var app = angular.module('AmpersandApp'); 
        app.requires[app.requires.length] = 'ui.ace';
-->
$endif$$if(crudR)$<div ng-controler="static_aceController" ng-init="ifcName='$name$'">
	$if(exprIsUni)$
        $if(crudU)$
            <input input-sm" type="file" fileread="resource['$name$']" />
            <div style="min-height:300px;" data-ui-ace="{mode : 'xml', onBlur:saveAceContent}" data-ng-model="resource['$name$']" ></div>
            <button type="button" class="btn btn-sm btn-primary" data-ng-click="saveItem(resource, '$name$', patchResource)">Beware to save your work before leaving the editor field!</button>
        $else$
            <div data-ui-ace="{mode : 'xml'}" data-ng-model="::resource['$name$']" readonly></div>
        $endif$
    $else$
        <span>template not suitable for non-uni expressions</span>
    $endif$
</div>$else$<span><i>not readable</i></span>$endif$