$if(verbose)$
<!-- View-ACE.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->
<!-- Requires Ampersand statements: 
    CONCEPT <PickSomething> ""
    REPRESENT <PickSomething> TYPE BIGALPHANUMERIC
    VIEW <PickSomething> : <PickSomething> DEFAULT HTML TEMPLATE "View-ACE.html" ENDVIEW
    
    Requires Javascript additions:
    * ace.js (https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.4/ace.js)
    * ui-ace.js (https://github.com/angular-ui/ui-ace)
    * script to add ui-ace as dependency to Angular app: 
        var app = angular.module('AmpersandApp'); 
        app.requires[app.requires.length] = 'ui.ace';
-->$endif$ $if(crudR)$
<div class="xml-code" ng-controller="AceEditorController" ng-init="ifc = '$name$'">$if(crudU)$$if(exprIsUni)$
    <input class="input-sm" type="file" fileread="resource['$name$']" />
    <div data-ui-ace="{mode: 'haskell', onBlur: onBlurSave}" data-ng-model="resource['$name$']" style="min-height:300px;"></div>$else$
    <div ng-repeat="row in resource['$name$'] track by \$index" style="margin-bottom: 10px;">
        <span my-showonhover-box class="glyphicon glyphicon-minus" style="margin-right: 5px;" ng-click="removeItem(resource, '$name$', \$index, patchResource)" uib-tooltip="Remove" tooltip-trigger="mouseenter" tooltip-placement="left"></span>
        <div data-ui-ace="{mode: 'haskell'}" readonly data-ng-model="::row" style="min-height:300px;"></div>
    </div>
    <div>
        <span><strong>Add new example:</strong></span>
        <div data-ui-ace="{mode: 'haskell', onBlur: onBlurAdd}" data-ng-model="selected.value" style="min-height:300px;"></div>
    </div>$endif$$else$$if(exprIsUni)$
    <div data-ui-ace="{mode: 'haskell'}" readonly data-ng-model="::resource['$name$']" style="min-height:300px;"></div>$else$
    <div ng-repeat="row in resource['$name$'] track by \$index" style="margin-bottom: 10px;">
        <div data-ui-ace="{mode: 'haskell'}" readonly data-ng-model="::row" style="min-height:300px;"></div>
    </div>$endif$$endif$
</div>$else$
<span>
    <i>not readable</i>
</span>$endif$