<!-- ShowConceptualDiagram.html -->

<div ng-repeat="obj in requireArray(resource['$name$'])" class="Atlas-interface-box"
    style="margin:10px; padding: 0px 15px 15px 15px; min-height: 300px;">
    <div class="Atlas-title" style="font-size:24px;"> ATLAS overview </div>
    <img style=" max-width: 100%;" src="api/v1/file/{{ obj._view_.imgfile }}" alt="Conceptual diagram"
        onclick="refreshImage(this)" />
</div>

<script>
    function refreshImage(imageElement) {
        var src = imageElement.src;  // Get current src
        imageElement.src = '';       // Clear src to force a browser cache bypass
        imageElement.src = src + '?_=' + new Date().getTime();  // Reassign src with a cache busting parameter
    }
</script>